<!--------------- Tobi's Code --------------->
<!-- To be implemented and conjoined with Dorna's email system code -->

<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Dusty Paws</title>
		<link rel='shortcut icon' type='image/x-icon' href="/icon.ico" />
		<meta name="viewport" content= "width=device-width, initial-scale=1.0">
		<link href="css/email.css" type="text/css" rel="stylesheet" />
		<script type="module" src="/main.js"></script>
	</head>

<!-- The Reason Div's, spans and inline CSS's have been used specifically for anything to do with emails
(sending or receiving) is becuase while in the process of sending, it may render using another main stylesheet,
using this style partly keeps the consistency of the format -->

 <body class="">
    <table role="presentation" border="100" cellpadding="" cellspacing="0" class="body">
      <tr>
        <td class="container">
          <class="header">
            <table role="presentation" border="0" cellpadding="0" cellspacing="0">
              <tr>
                <td class="align-center">
                  <a href="https://beatlescanvas-motornylon-8080.codio-box.uk/"><img src="https://blogger.googleusercontent.com/img/a/AVvXsEg1dFoFnl7RL8Co3asxLDr5XIRbOsGeWM2TrufhpgsbELZKO6BfmgxLttAE4EoJjzS07WnZFDe0AhB3p82FtQgttrNzpTyk75cIQ75j050dCgiXJdo2o9iYTbIMBgTXvLl7jz1ZoPtXcfQOGiHbkSRfOT_EWqIjQO6zAXSVG-pn6wQYcy5DIBEU16gv" height="40" alt="Dusty Paws"></a>
                </td>
              </tr>
            </table>
          </div>
          <div class="content">

            <!-- START CENTERED WHITE CONTAINER -->
            <span class="preheader">Hiya!! Thanks so much for registering and entrusting Dusty Paws in housing and taking care of your pets.  I'll e-mail again nearer the time but, for now, here is something I want you to know:</span>
            <table role="presentation" class="main">

              <!-- START MAIN CONTENT AREA -->
              <tr>
                <td class="wrapper">
                  <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                      <td>
                        <p>Hi there,</p>
                        <p>Thank you so much for joining us on our journey to make sure all pets have a home just like us 🐶. Please click the button above to verify your email. </p>
                        <table role="presentation" border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
                          <tbody>
                            <tr>
                              <td align="left">
                                <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                                  <tbody>
                                    <tr>
                                      <td> <a href="https://beatlescanvas-motornylon-8080.codio-box.uk/" target="_blank">Call To Action</a> </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                        <p>To ensure you're legitimate and not a robot, please verify your account by clicking the button above.</p>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>

            <!-- END MAIN CONTENT AREA -->
            </table>

            <!-- START FOOTER -->
            <div class="footer">
              <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <td class="content-block">
                    <span class="apple-link">Dusty Paws©, 123 Priory Street, Coventry, CV1 5RY</span>
                    <br> Don't like these emails? <a href="https://beatlescanvas-motornylon-8080.codio-box.uk/">Unsubscribe</a>.
                  </td>
                </tr>
                <tr>
                  <td class="content-block powered-by">
                    Powered by <a href="https://beatlescanvas-motornylon-8080.codio-box.uk/">Dusty Paws</a>.
                  </td>
                </tr>
              </table>
            </div>
            <!-- END FOOTER -->

          <!-- END CENTERED WHITE CONTAINER -->
          </div>
        </td>
      </tr>
    </table>
  </body>
</html>