
<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Log In</title>
		<link rel='shortcut icon' type='image/x-icon' href="/icon.ico" />
		<meta name="viewport" content= "width=device-width, initial-scale=1.0">
		<link href="css/style.css" type="text/css" rel="stylesheet" />
		<script type="module" src="/main.js"></script>
	</head>
	<body id="top">
		<header>
		<h1>Log In</h1>
		
		<ul>
			<li><button>About You</button>
			<ul>
				<li><a href="/customerProfile">Your Profile </a></li>
				<li><a href="/aboutUs">About Us </a> </li>
				<li><a href="/register">Register</a></li>
				<li>
				<strong>
				{{#if authorised}}
						<a href="/logout">Log out</a>
				{{else}}
						<a href="/login">Log in</a>
				{{/if}}
				</strong>
					</li>
				</ul>
			</li>
		</ul>
				<a href="/home">Home</a>
				<a href="/blog">Community</a>
				<a href="/store">Store</a>
				<a href="/adoption">Adoption</a>
				<a href="/Search">Search</a>
		</header>
		
		
		
		
		<main>
		<form action="/login" method="post">
			<p>
				<label for="user">Username</label><br />
				<input type="text" name="username" placeholder="your username" value="{{body.user}}" autofocus>
			</p>
			<p>
				<label for="pass">Password</label><br />
				<input type="password" name="password" placeholder="your password" value="{{body.pass}}">
			</p>
			<p><input type="submit" value="Log in"></p>
		</form>

		<p>Don't have an account, click here to <a href="/register"> register </a></p>

		{{!-- <p><a href="/">Home page</a></p> --}}
		</main>

		<footer>
        <ol>
            <li><a href="/home">Home</a></li>
            <li><a href="/adoption">Adoption</a></li>
            <li><a href="/store">Store</a></li>
            <li><a href="/blog">Community</a></li>
            <li><a href="/aboutUs">About Us </a></li>
						
			<li><a href="/contact">Contact Us</a></li>
        </ol>
	   <a href = "#top">Back to the top</a>  

	   <p>@Copyright 2021 - Group 1A</p>   
	</footer>

	</body>
</html>
